
body {
    font-family: "Avenir LT W01 55 Roman","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #555;
    background-color: #dbd7cd;
    word-wrap: break-word;
}
body {
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    display: block;
    margin: 8px;
}

html {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
html {
    font-size: 87.5%;
    line-height: 1.5em;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::selection element
::selection {
    background: rgba(123,192,200,0.5);
    color: #333;
    text-shadow: none;
}